[2015-11-16 20:17] davidbarsky opened #1 "Should this repository be used instead of zenazn/goji?"
as the title says.

(love the project, by the way. thanks for working on it!)

[2015-11-16 21:43] zenazn commented on #1
Interesting question.

This package is The Future™. It uses `context.Context` and has a couple other interesting changes, and at some point will be the recommended package to use. I also wrote it very recently, make no guarantees for API stability (yet, at least), and while its test coverage is very good it may still have bugs. I also e.g., haven't set up the vanity import it expects (`goji.io`),

[2015-11-17 05:25] davidbarsky commented on #1
thanks for your response! i'll probably stick with zenazn/goji for now, and migrate over to this new one soon enough.

[2015-11-19 11:55] donseba opened #2 "import goji.io not working"
Hello, I wanted to try to package to compare it against "zenazn/goji" but the import paths are set to

"goji.io" instead of "github.com/goji/goji" .

Is there an spicific reason for this?

BTW : Thanks for your time and effort

[2015-11-19 12:10] elithrar commented on #2
The package isn't ready for real world use yet (in that the API might
change) so you will need to clone it into $GOPATH/src/goji.io/

On Thu, 19 Nov 2015 at 7:55 PM, Sebastiano Bellinzis <
notifications@github.com> wrote:

[2015-11-19 12:41] donseba commented on #2
okay thank you

[2015-11-19 12:41] #2 closed

[2015-11-27 17:16] mwmahlberg commented on #2
Does it make sense then to have it documented like this in the README.md?

[2015-12-05 22:48] shurcooL opened #6 "Is it possible to use router in backend implementations to generate URLs to resources?"
Hi,

I have a question about this package. I've looked through the README and godoc.org (for the original version) and couldn't find a conclusive answer.

Suppose I have a web project that separates the frontend code (including display stuff, html, css, and http request routing and handling) from the backend service implementation (expressed as a Go interface, implemented by some concrete type).

[2015-12-06 01:04] zenazn commented on #6
Funny you should mention this--there's a proposal for URL reversal in `pat` in #4 (that I promise I'll get to soon!). The idea would be that the router wouldn't be involved at all (I'd like to keep as much out of the top-level `goji.io` package as possible), but individual implementations of the `Pattern` interface might allow reversal if doing so is feasible.

Would this satisfy your use case?

A

[2015-12-06 02:12] shurcooL commented on #6
Hmm, maybe.

Would it look something like this?

[code]

I can't say for sure until I try it out for real.

How often? So far, very infrequently. However, the primary reason for that is precisely because I know that there may be things broken as a result. It's hard to be sure I didn't forget to update all instances that hardcode the paths somewhere.

However, in most cases I control all clients an

[2015-12-06 02:16] zenazn commented on #6
It'll probably look closer to
[code]
(I don't know how to make something like `HelloRoute.Name` work without codegen)

And understood RE: the desire for safety / leaning on the type system for correctness.

[2015-12-06 02:29] shurcooL commented on #6
Gotcha. I'll think about what can be done about pattern variables, because using "name" string means the Go compiler will not give me an error if I were to change the name of that variable and forget to update it somewhere. That defeats a part of the goal. I know it's not an easy problem to solve, but I'm interested in thinking more about it.

I can also point you to a recent real-world example of

[2015-12-07 16:14] andviro opened #7 "Proposal: consider adopting noodle.Handler and noodle.Middleware signature"
Hi there!

I've knocked together some simple middleware engine: https://github.com/andviro/noodle. Perhaps it would be beneficial for both projects if goji will adopt noodle.Handler - like signature, i.e. func(context.Context, http.ResponseWriter, *http.Request) error.
Rationale for error return value:
1) more control over when to break middleware chain execution and when not to,
2) we can define

[2015-12-07 21:53] elithrar commented on #7
Just to clarify my understanding of your package—where does a package user handle the error returned from the `noodle.Handler` signature? My concern here is that returning an error in a mixed environment (where not handlers may be context aware yet) means the error is ignored completely.

Goji's `goji.Handler` type allows this already just by implementing `ServeHTTPC` for your custom handler type

[2015-12-08 01:30] zenazn commented on #7
I don't really see the benefit of an `error` return here. It doesn't help with middleware, since we already have a mechanism for aborting the middleware chain (i.e., not calling the inner Handler). And global and chain-local error handling is not something I'm particularly interested in: rendering errors into HTTP responses is application-specific and there's no benefit of having framework-level s

[2015-12-08 07:06] andviro commented on #7
@elithrar,
I've had some deliberation re including vs not including error return into noodle middleware. I think that error return fits well into service/resource pattern roughly outlined as follows:
[code]

This is from application point of view. From handler POV error return allows quick and clean way to abort execution. Consider this pseudo-handler:
[code]
Another way would be to signal error t

[2015-12-08 07:06] #7 closed

[2015-12-08 07:23] zenazn commented on #7
Ha. We've all done this :)

And point taken. I've personally had good luck with a structure similar to what @elithrar is suggesting (i.e., creating a no-error to error adapter), but I'll be the first to admit that I don't think I've got this figured out particularly well.

[2015-12-10 01:16] derekdowling opened #8 "Godoc "Not Found""
Not sure what is going wrong here, but your links aren't working for: https://godoc.org/goji.io :(

[2015-12-10 01:31] elithrar commented on #8
In the meantime, use https://godoc.org/github.com/goji/goji

Note: from a quick 5 minute skim of the <meta> tags on goji.io and the
godoc Wiki I can't see why it's not working. @zenazn may have to take a
look later.

On Thu, Dec 10, 2015 at 9:17 AM Derek Dowling <notifications@github.com>
wrote:

[2015-12-10 01:51] zenazn commented on #8
Tracking at https://github.com/golang/gddo/issues/355 and https://github.com/golang/go/issues/13506

[2015-12-10 23:49] derekdowling opened #9 "Listing all routes within a Mux"
Is there any way to list all registered routes within a Mux? This is useful for debugging purposes to ensure everything as it seems, and I'd like to work on some route auto-generation tools. I understand if this isn't feasible, but it'd definitely be nice to have!

[2015-12-11 08:55] zenazn commented on #9
There's not really a great way of doing this, unfortunately. Goji accepts routes in multiple forms (i.e., the regex `Handle(Func)?(C)?`), and there's no type that these four types satisfy except `interface{}`.

If I may ask, why would being able to list routes be useful for route auto-generation? I'd like to support people auto-generating routes, but I don't quite understand why listing routes wou

[2015-12-11 09:47] donseba commented on #9
Hello, this is an similar question I had on the other [zenazn/goji](https://github.com/zenazn/goji/issues/170) repo .

Therefor I've made an package [webdoc](https://github.com/donseba/webdoc) it is modified to use the goji.io repo .

[2015-12-11 18:54] derekdowling commented on #9
@zenazn I sort of figured that might be the case. I should specify, what I was really hoping to do was auto-generate documentation for an API, similar to what @donseba has done in his library. It makes sense though that it might be difficult with so many unique potential entry points into the API.

[2015-12-12 19:19] scisci opened #10 "Upgrading from web.C"
Hi, I haven't updated in a while and notice that now you use google's context object instead of web.C, is there documentation on how to upgrade?

[2015-12-13 03:27] elithrar commented on #10
Keep in mind that Goji v1 (which uses `web.C`) still exists over at https://github.com/zenazn/goji — so there's no need to worry about breaking existing applications if you're still using `go get`. Also have a quick read of Carl's comment here: https://github.com/goji/goji/issues/1#issuecomment-157179877 (in short: Goji v2 is the future, although Goji v1 is primarily feature complete anyway and wa

[2015-12-13 20:00] scisci commented on #10
Thanks for the info. I didn't realize it was two projects, but am definitely interested in switching to the new one since it adheres to googles context advice.

Any advice on how to handle migrating if I was using some of the basic middleware in the previous version? For instance, I had a few middlewares of the form:

`func(c *web.C, h http.Handler) http.Handler`

would I just switch web.C to cont

[2015-12-14 06:05] patbaker82 commented on #10
I've just been playing around, but I think this is the basic idea.

[code]

[2015-12-14 06:15] elithrar commented on #10
That's right - effectively you just replace `func(*web.C, http.Handler)` with `func(goji.Handler) goji.Handler` and call the next handler as needed (or respond with an error, etc).

Alternatively you can return a type that implements 'goji.Handler` (has a `ServeHTTPC` method) like so:
https://github.com/goji/csrf/blob/csrf-v2-net-context/csrf.go#L120-L170

[2015-12-14 22:47] elithrar commented on #8
Did you want to (temporarily) amend the GoDoc link on http://goji.io/ to link to the goji/goji repo, unti this is fixed?

[2015-12-14 23:43] zenazn commented on #8
Good idea—this is taking longer to address than expected (likely due to the holidays). Fixed! (or, rather, temporarily worked around!)

[2015-12-14 23:56] derekdowling commented on #9
Since inquiring about this, I've run into a case in which I was using sub-routing functionality with Goji improperly (not respecting that goji.Pat strips matched pieces before passing to sub-routers). I was forced to manually debug which routes exist by dumping variables from: https://github.com/goji/goji/blob/master/router_trie.go#L67. Could the router be leveraged to provide some sort of printab

[2015-12-15 07:38] donseba commented on #9
Hello @derekdowling , I asked @zenazn rougly the same question here : [question](https://github.com/zenazn/goji/issues/170) . and you can read his thoughts about it there.

[2015-12-15 09:09] derekdowling commented on #9
Ahh, I see this conversation has already been had: https://github.com/zenazn/goji/issues/170 closing.

[2015-12-15 09:09] #9 closed

[2015-12-15 18:16] zenazn commented on #9
@derekdowling: I think I can write a middleware layer that would have helped you out there: you can attach it into your muxes and it can print out the pattern and handler that was matched, as well as the path and bound variables.

But sorry about the sub-router confusion: it's easily the most magic part of Goji, and might just be more confusion than it's worth.

[2015-12-15 19:19] derekdowling commented on #9
Nope, it's definitely a good idea, it probably just requires some better documentation within Goji itself how to set that up. Where would you prefer an example? In the documentation or in the README? I can whip one up.

[2015-12-27 05:22] eliezedeck opened #11 "Where did/How to re-enable logging?"
I love logging which states which URL/resource has been accessed for each request. It's kind of gone with the goji/goji.

How to re-enable it?

[2015-12-27 06:03] elithrar commented on #11
Hi Elie - are you referring to the github.com/zenazn/goji/web/middleware
package?

If so, it hasn't had an update for Goji v2 yet. I'm not sure if @zenazn has
plans to port it—if not I can take a look as it won't take long.

On Sun, 27 Dec 2015 at 1:22 PM, Elie Zedeck RANDRIAMIANDRIRAY <
notifications@github.com> wrote:

[2015-12-27 06:05] eliezedeck commented on #11
@elithrar I guess so... It is not only useful, but it's also colorfully beautiful! :)

[2015-12-27 17:35] zenazn commented on #11
I'm probably not going to have time to port it, at least not in the near term. Happy to have one of you take a shot at it!

[2015-12-28 02:32] elithrar commented on #11
Through the magic of copy+paste and `s/web.C/context.Context/g` I've pulled together a Goji v2 package that covers the old:

* `middleware.Logger`
* `middleware.RequestID` (the logger uses this when available)
* Associated ResponseWriter wrappers from the `web/mutil` package and `middleware/terminal.go` that the middleware above used.

You can find it here: https://github.com/elithrar/goji-logger

[2016-01-13 09:42] basvanbeek commented on #11
Talking about loggers. Would like the ability to define alternative loggers especially since libraries like Goji are just a part of an app in a larger context.

[2016-01-13 14:30] elithrar commented on #11
@basvanbeek Unless I'm misunderstanding what you mean: you can use any logging package you like right now.

[2016-01-13 15:21] basvanbeek commented on #11
@elithar The previous version of Goji had certain logging hardcoded inside it's internal functions. In case that would appear again in this library I'd like that to be calling an interface with the option to take an implementation of it by the user instead of calling the "log" package directly. If not than we're already ok as I typically envision logging in middleware and don't care too much about

[2016-01-13 19:08] zenazn commented on #11
Luckily for you, that's not going to happen again—I took great care to avoid that this time :)

It's possible that auxiliary packages in the Goji ecosystem will need loggers in the future, and standardizing on an interface there would almost certainly be useful, but that seems largely orthogonal to Goji (i.e., we should make an attempt to standardize that in the Go ecosystem at large, and not just

[2016-01-14 08:12] vanackere opened #12 "Alternative middleware signature ?"
Hi,

 Glad to see a new version of goji using context.Context (i'll drop my goji fork once this new version has gotten enough testing) !
In [slim](https://github.com/vanackere/slim) I found very convenient to be able to define middlewares using the following signature:
[code]

While is is quite easy to write a wrapper for this, it would be nice to have this signature allowed by default since in my

[2016-01-14 14:14] elithrar commented on #12
Although I don't like this approach, shouldn't next call a handler of the
same type?
On Thu, Jan 14, 2016 at 12:13 AM Vincent Vanackere <notifications@github.com>
wrote:

[2016-01-14 14:50] vanackere commented on #12
I just realized that this issue would probably be much better explained using an exemple:
here follows a simplified panic recovery middleware using the proposed signature, parametrized by a boolean (in debug mode we also want to render the panic stack as html):

[code]

Please don't hesitate to compare this to the same middleware written using the current middleware signature, I'm genuinely intere

[2016-01-14 19:12] elithrar commented on #12
You can definitely do the above with the current approach—I also think it's
more concise:

func RecoveryMiddleware(debug bool) func(context.Context,
http.ResponseWriter, *http.Request, goji.Handler) {
    return func(ctx context.Context, w http.ResponseWriter, r
*http.Request, next goji.Handler) {
        defer func() {

... becomes:

func RecoveryMiddleware(debug bool) func(next goji.Handler) goj

[2016-01-14 20:59] bfitzsimmons opened #13 "go get error"
I'm getting an error when trying to `go get` this repo.

[code]

Any thoughts on how to deal with this? Am I getting the wrong path or package? Is the repo. `go get`-able at this point?

[2016-01-14 21:44] elithrar commented on #13
go get goji.io
On Thu, Jan 14, 2016 at 12:59 PM Brant Fitzsimmons <notifications@github.com>
wrote:

[2016-01-14 23:57] bfitzsimmons commented on #13
That works. Thanks!

[2016-01-14 23:57] #13 closed

[2016-01-18 13:13] crewjam opened #14 "url.URL escaped path not present in go 1.4 which AppEngine uses"
I'm not sure what the version support targets are, but it appears that net/url:URL `EscapedPath()` is not present in go1.4 which is used by AppEngine. I'd be happy to work on a PR if you'd like.

[2016-01-18 21:34] zenazn commented on #14
This version of Goji is 1.5+, both for `EscapedPath` and because `go get goji.io` won't work in 1.4

[2016-01-21 02:40] bfitzsimmons opened #15 "Pattern regular expressions."
Is this incarnation of Goji going to grow the ability to match URLs using regular expressions?

[2016-01-21 03:59] zenazn commented on #15
Maybe! I haven't gotten around to porting the `regexp`-based `Pattern` implementation over, but it should be straightforward enough, and I hope to get to it eventually. To be honest, I found that I don't really miss it, but perhaps you feel the urgency more than I do.

One really nice thing about the new Goji design, however, is that you can write and use your own `Pattern` implementation—you only

[2016-01-24 21:11] grounded042 commented on #1
Just a suggestion - it might be nice to put a blurb with this info in both repo READMEs. While this issue is helpful in clearing up the existence of two repos, it can be confusing having two repos.

[2016-01-26 00:17] bfitzsimmons commented on #15
I'll see how I get along without it. I'll revisit this if I find that I can't.

Thanks for the response.

[2016-01-26 00:17] #15 closed

[2016-01-27 04:49] zenazn commented on #8
Good news! This got fixed

[2016-01-27 04:49] #8 closed

[2016-01-27 04:52] zenazn commented on #14
I'm going to close this issue since Goji is working as intended, but if AppEngine continues to not support Go 1.5 for an extended period it might be worth maintaining a branch with hacked together 1.4 compatibility.

[2016-01-27 04:52] #14 closed

[2016-01-27 05:05] zenazn commented on #12
@vanackere—thanks for the kind words! You'll be happy to know you played a big part in the development of this version of Goji, even if you didn't realize it :)

I considered the alternate middleware signature you suggested, but ultimately decided against it. I liked the simplicity and obvious composability of `func(Handler) Handler`, and it's a teensy bit more efficient to implement (although cer

[2016-01-27 05:05] #12 closed

[2016-01-27 05:09] zenazn commented on #11
I'm going to close this issue, since it looks like @elithrar has largely addressed the OP's question.

I do still think it would be valuable for someone to experiment with a standard logging interface, and a compelling enough one would certainly find a lot of value in the Goji ecosystem and elsewhere, but I don't think Goji core will ever privilege one logger over any other.

[2016-01-27 05:09] #11 closed

[2016-01-27 05:10] zenazn commented on #10
This issue hasn't had any traffic in a month or so, so I'm going to close it out. Please feel free to open a new issue (or re-open this one) if you have any difficulty making the transition from Goji 1 to Goji 2!

[2016-01-27 05:10] #10 closed

[2016-02-19 12:01] shardnit commented on #1
Is it still recommended to use zenazn/goji or goji/goji is a "go"?

[2016-02-21 03:25] zenazn commented on #1
After many months of baking, I just cut a stable 1.0 release :tada:

That means I'm now recommending this project over `zenazn/goji`. There's of course no pressing reason for existing projects to switch, and both projects will be maintained indefinitely.

[2016-02-21 03:25] #1 closed

[2016-02-21 20:37] elithrar opened #16 "Add Examples"
Consider this a tracking issue for adding an `examples` directory or (better) some examples on the website.
- [ ] Add a simple example with 2-3 routes and some template rendering. There should be some middleware involved to show how to pass values using `context.Context` between handlers.
- [ ] A more complex example where Goji is an API server serializing objects to JSON. Possibly show some CORS

[2016-02-29 06:14] ego008 commented on #16
@zenazn

[2016-03-01 17:02] elithrar opened #17 "New Org Repo Request: goji/logger"
I'd like to push https://github.com/elithrar/goji-logger to `goji/logger`.
- Ports the Goji v1 middleware Logger and RequestID to Goji v2
- Makes it available (discoverable) under the organization
- Provides a friendly screenshot of the output

@zenazn

[2016-03-01 22:10] jdoklovic opened #18 "New repo request: gojiid"
I'd like to have a new repo created under goji called "goji/gojiid"
This repo will contain what's currently in: https://github.com/atlassian/gojiid

The project is "Goji Id", which provides a flexible middleware that puts a requestId in the http Context by either pulling it out of the http request header using custom provided keys, or generating it.

There is a default generator, or a custom gener

[2016-03-01 22:37] jdoklovic opened #19 "New repo request: glogrus2"
I'd like to have  anew repo under goji created called "goji/glogrus2"
This is a port of the original glogrus project to goji2

The contents of this repo should contain what's in this branch:
https://github.com/atlassian/glogrus/tree/goji2

Not only does this include the update to goji2, but it also provides a pluggable way to retrieve requestId from the http Context. see: https://github.com/atlass

[2016-03-05 06:51] saj1th opened #20 "NotFound Handler"
The "notFound Handler" was a neat convenience in zenazn/goji

https://github.com/goji/goji/blob/master/router_trie.go doesn't seem to have a similar concept - probably because you decided to make less assumptions in goji2

I'm wondering what would be the best way to implement a custom 404 handler with goji2

thanks for new libs

[2016-03-05 07:10] zenazn commented on #20
Since routing is now performed before the middleware stack, you can now do this yourself! Just take a peek at the matched `Handler` (by calling https://godoc.org/goji.io/middleware#Handler), and if it's `nil`, no route was matched, and a 404 should be served.

[2016-03-05 07:14] zenazn commented on #19
Done! https://github.com/goji/glogrus2

[2016-03-05 08:02] saj1th commented on #20
Cool. thanks!

[2016-03-05 08:02] #20 closed

[2016-03-07 16:17] jdoklovic commented on #19
@zenazn Thanks! I'll get this setup today

[2016-03-07 16:41] #19 closed

[2016-03-10 17:45] jdoklovic opened #21 "Need to abandon middleware in sub mux"
@zenazn
So while I was messing with a logging middleware, I was printing out middleware.Pattern(ctx) in the log as the url that was hit, but when this is set on the root mux and you have a sub-mux, you'll never get the right pattern.

example:
[code]
When you call /my-app, the log prints "/my-app". that's fine
But when you hit /my-app/some-route" the log will always print "/my-app/*". This is beca

[2016-03-10 21:25] jdoklovic commented on #21
Actually, I was able to work around my issue by using a couple more muxs.

[2016-03-10 21:25] #21 closed

[2016-03-11 05:56] ess commented on #16
I wouldn't know where to start, but Gritter2 (with promoted and >140-character posts, of course) would be pretty great to see.

:+1:

[2016-03-11 06:01] elithrar commented on #16
Great idea @ess. I'll see if I can port that over this weekend and PR it.

[2016-03-11 06:33] alexguan commented on #20
This does not work well when you have SubMix. For example:

[code]

Then there seems no way to return a customized 404 for `/v1/bar` since `middleware.Handler` will return a non-nil handler (which is `v1Mux`);

Any ideas?

[2016-03-12 04:12] zenazn commented on #21
I know you've found a workaround, but a brief comment on something you mentioned:

[code]

Unfortunately, this can't possibly work: `root.NewLoggerMiddleware` has already happened by the time `subRouter` gets a chance to look at the request. The rough mental model here is that sub Muxes are not special at all—they are just `Handler`s like everything else—and that middleware always happens immediat

[2016-03-15 12:11] keighl commented on #14
GAE recently released a [go1.6beta runtime](https://groups.google.com/forum/#!topic/google-appengine-go/bY_OqNw2Qzo). I'm hoping it does the trick.

[code]

[2016-03-15 12:26] keighl commented on #14
... however, there's no 1.6 support in the SDK yet, so it can't be run locally.

[2016-03-15 13:09] saj1th commented on #20
@alexguan

looks like the hacky way around the problem is to apply the 404 middleware to your sub muxes as well

[code]
Like you mentioned, while https://github.com/goji/goji/blob/9798f3919ceac1759f98777d9624ac82e8e35f41/dispatch.go#L14 would get a nil handler, https://github.com/goji/goji/blob/9798f3919ceac1759f98777d9624ac82e8e35f41/middleware/middleware.go#L52 would not get nil as a *goji.Mux w

[2016-03-15 17:23] alexguan commented on #20
@saj1th The workaround is rather ugly since you need to apply the middleware to all sub muxes. It seems the right way to do it is to enhance `Mux` to provide a hook so we can supply a function to override the default `NotFound` behavior.

@zenazn Any other suggestions?

[2016-03-15 19:38] zenazn commented on #20
You can write an abstraction to create new `Mux`'s with a `NotFound` middleware attached, instead of using `goji.NewMux`. If you want to cast a wider net, you can also write a `http.ResponseWriter` implementation that catches 404 status codes and instead renders a different 404.

Trying to auto-detect `SubMux`es and do something more clever sacrifices the principle of least surprise, however, sinc

[2016-03-15 19:40] zenazn commented on #20
For prior art on a `http.ResponseWriter` shim, I wrote a reasonable implementation as part of the previous version of Goji: https://godoc.org/github.com/zenazn/goji/web/mutil. The code is based entirely on the `net/http` interfaces, however, and can be reused with any mux of your choice, including this version of Goji.

[2016-03-16 18:15] alexguan commented on #20
@zenazn I understand your concerns, however, it feels to me that such a basic need should be directly supported by the framework, instead of asking everyone to duplicate the work.

[2016-03-22 05:24] zenazn commented on #20
Even if Goji provided some kind of `NotFound` capability, it would have to be manually applied to every `Mux`, which doesn't seem like a win to me. Is there something I'm missing?

[2016-03-22 20:36] ottob commented on #16
This would be super helpful! I've found https://github.com/andrew-d/go-webapp-skeleton but more examples would be very welcome.

[2016-03-23 06:31] matrixik commented on #16
Also linking to outside examples also would be great (like the one posted by @ottob or https://github.com/metcalf/saypi )

[2016-04-02 16:37] keighl commented on #14
GAE 1.6 support arrived finally:

https://cloud.google.com/appengine/downloads#Google_App_Engine_SDK_for_Go

[2016-04-05 07:46] mandeepbrar opened #23 "Wildcard matched parameter"
Can i get the wild card match as a parameter e.g. if i did mux.HandleFuncC("/\*", myhandler). Can i do it as mux.HandleFuncC("/\*param", myhandler). Can I get the parameter param from the context later

[2016-04-05 15:52] zenazn commented on #23
You can indeed! https://godoc.org/goji.io/pattern#Path

(Although as a practical note that method will return a escaped path, which you'll have to un-escape if that matters to your application)

[2016-04-05 15:52] #23 closed

[2016-04-14 06:06] ekanna opened #24 "Update readme?"
Hi @zenazn,

As **context** pkg landed in standard library of go1.7 tip, you may need to revisit stability section of README file before it wide spread!

Just curious, any specific advantage for changing syntax in new goji

from simple:
[code]
to verbose pat.Get(...):
[code]

Some how, i got addicted to your old syntax! Thanks for the great library.

[2016-04-15 07:58] vidfamn opened #25 "Match route in middleware"
Hi,

I'm updating my app and trying to port a bit of route matching in a middleware from zenazn/goji to goji/goji. I can't get the new `pattern.Match(ctx, r)` to match in the same way as the older `pattern.Match(r, c)`. I was wondering if you know why this doesn't work?
### Examples

[gojipatterntest.txt](https://github.com/goji/goji/files/220539/gojipatterntest.txt)
Output:
`no match..
no match..

[2016-04-18 18:42] eriklott opened #26 "Unexpected route/middleware execution order"
Example:

[code]

I was surprised to find that writing middleware to change the request.Method from POST to PUT would not effect the route pattern matcher on line 3. Looking at the source comments, it seems that routes are parsed before middleware is run. Is there a reason for that?

To get this to work properly, I'll need to wrap the mux itself...

[code]

As middleware is added to the mux, I thi

[2016-04-23 12:06] funnythingz opened #27 "Can not use to GAE?"
Hi!

can not use to GAE?

[code]

I think had been used before ?

[2016-04-23 12:55] elithrar commented on #27
The syscall package is the issue, which Goji doesn't import. Are you
importing syscall directly or using a package that imports it?
On Sat, Apr 23, 2016 at 5:06 AM Hiroki Oiwa <notifications@github.com>
wrote:

[2016-04-23 13:28] funnythingz commented on #27
sorry... I had to miss the set of gopath...

thanks!!

[2016-04-23 13:28] #27 closed

[2016-04-26 18:52] zenazn commented on #26
This is expected and documented behavior: https://godoc.org/goji.io#Mux.Use

For historical context, the previous version of goji (`zenazn/goji`) did things the other way around (middleware first and routing after), and in practice people found that behavior more confusing, since they expected routing information (i.e., the matched pattern and handler) to be available in the middleware stack. The

[2016-04-27 19:02] eriklott commented on #26
@zenazn Thanks for getting back.

Actually, I think that Goji is slightly more complex than it needs to be. Rather than providing users with a Mux, which wraps routing endpoints with middleware (complex), why not just provide users with a simple middleware stack? For example:

[code]

To introduce routing, users can use routing middleware:

[code]
...And we can create a convenience method - `Route

[2016-04-27 19:11] zenazn commented on #26
That's pretty tricky to make run efficiently, unfortunately. And while it's certainly a smaller API, I'm not sure it's actually easier to understand, especially for the common case.

I'd certainly encourage you to try this out, though—`goji.RouteMiddlware` is easy enough to write on your own, and I'd be curious to hear how nice you find the resulting abstraction.

[2016-04-27 19:16] eriklott commented on #26
@zenazn  I'm not sure if I follow. What is the common case?

[2016-04-27 20:46] zenazn commented on #26
I think that most people do not require such tight control over execution order, and that most of the use of Goji is for its routing layer (and the improvement there over `net/http`) and not its middleware stack. For me, this means that Goji should be primarily focused on making routes easy to understand and add, and less focused on making middleware the single core abstraction.

[2016-04-28 11:30] eriklott commented on #26
Keep in mind, the middleware as single core abstraction is strictly an internal change. The API stays unchanged for the user. Here is my example from above:

[code]

And here is the example with methods and structs renamed to idiomatic Go to make things familiar:

[code]

The API is the same.

I would respectfully disagree. Execution order is generally significant, and is best when explicit and un

[2016-05-12 12:45] vidfamn commented on #25
I solved my use case in a bit dubious manner with a type assert and string matching instead of using the `pattern.Match(ctx, r)` function.

Example below, if anyone has a similar issue while porting middleware from zenazn/goji to goji/goji.
[code]

[2016-05-18 22:03] Sironfoot opened #28 "Allow omitting trailing slash when using goji.SubMux() sub routers"
When using a SubMux() sub router, I am forced to use a trailing slash on the end of the URL. For instance, given the following:

[code]

I have to use `/foo/` instead of `/foo` which returns a 404. I have read https://github.com/zenazn/goji/pull/97 and am sold on the idea that /foo and /foo/ should be treated as 2 different URLs. But in my case I'd rather have /foo be the canonical one, and /foo/

[2016-05-19 21:06] zenazn commented on #28
One other workaround that I'm preeeettty sure will work is the following:

[code]

[2016-05-19 21:08] zenazn commented on #28
(The principle behind this is that `goji.Mux`'s, even `SubMux`es, can act as vanilla `goji.Handler`s as well)

[2016-05-19 23:35] Sironfoot commented on #28
Works perfectly, thanks! You can close this now :-)

[2016-05-19 23:35] #28 closed

[2016-05-22 04:29] derekdowling opened #29 "Suggested Way To Handle 404 Errors"
I know that by default if a match isn't found within Goji, http.NotFound is called. How do you recommend handling this case with a custom handler? It looks like I could potentially use a route, but I'm not sure there is a guarantee about route matching order? Thanks!

[2016-05-22 04:44] elithrar commented on #29
See https://github.com/goji/goji/issues/20 (answer: middleware)

[2016-05-23 01:27] zenazn commented on #29
While I still wholeheartedly recommend writing a middleware to generate custom 404s, it turns out Goji actually does have a very well defined route matching order: https://godoc.org/goji.io#Mux.Handle

[2016-07-01 18:06] harapan1231 opened #31 "show the user page when login user is an engineer"

[2016-07-01 18:06] harapan1231 opened #32 "show all view type when login user is a salesperson"

[2016-07-01 18:07] harapan1231 opened #33 "show team view type when login user is the team manager"

[2016-07-01 18:07] #31 closed

[2016-07-01 18:08] #32 closed

[2016-07-01 18:08] elithrar commented on #33
@harapan1231 What is your use case here? Goji does not handle permissions/user types.

[2016-07-01 18:09] #33 closed

[2016-07-01 18:10] harapan1231 commented on #33
@elithrar so sorry, i made a mistake. i all close the issues. but i don't know how to delete them.

[2016-07-07 20:08] infogulch commented on #24
It looks like this was fixed in e355964. I'm also interested in the reasoning behind the redesign!

[2016-07-10 03:45] elithrar commented on #17
Hey @zenazn - just wanted to follow up on this and see if we can make push this to the goji GitHub org?

[2016-07-25 16:47] elithrar opened #34 "Go 1.7 + http.Request.Context()"
@zenazn - is there still a plan to break the API?
- Will `mux.HandleC/HandleFuncC` be kept?
- Will they be rolled into `mux.Handle/HandleFunc`?
- `Use/UseC`?

I'm for breaking it—Goji v2 is fairly new and has lived in the world of vendoring, which makes it more likely (but not guaranteed!) that users who care have vendored the package. It would also reduce the API, which is a plus.

[2016-07-27 15:23] troylelandshields commented on #21
@jdoklovic, can you describe your workaround? We are having the same issue.

[2016-07-27 16:58] jdoklovic commented on #21
@troylelandshields The work around was to expand everything into their own routers and then apply logging middleware to each sub router. The root router doesn't have logging middleware at all and also has no actual routes other than mapping patterns to sub routers

[2016-07-27 21:32] troylelandshields opened #35 "Log middleware with whole pattern"
I want to be able to log the entire pattern that was matched in a middleware but this doesn't seem easily doable if I am using submuxes.

If I put the middleware on the root mux then I only get the pattern up to the wildcard. If I put the middleware on the submux then I get the pattern after the wildcard.

Ideally I would like to be able to put it on the root mux and get the whole pattern, but I w

[2016-08-16 03:56] desimone commented on #34
A quick bump because Go 1.7 was released today. @zenazn if you can direct on the above, and breaking the API is still the plan, I'm available to help make this happen.

[2016-08-30 08:22] ottob commented on #34
For reference: some work on this has already been done in https://github.com/goji/goji/pull/30.

But I'm also curious about the future of the project.

[2016-08-31 06:19] zenazn commented on #34
Sorry for the delay, folks—had a bit of time on a recent flight and whipped together a re-imagining of the Goji API with the recent Go 1.7 changes. It's quite similar to #30, with one additional change: the `Pattern` interface's `Match` method now has signature `func(*http.Request) *http.Request`.

It's on the `go17` branch, and I encourage folks to give it a shot. Let me know what you think!

I h

[2016-08-31 13:18] elithrar commented on #34
@zenazn LGTM. The (much) simpler API is a big win.

[2016-08-31 17:17] desimone commented on #34
@zenazn LGTM. I'm a fan of the new, slimmer API as well.

[2016-09-02 17:44] moorereason opened #36 "go17: panic on pat.Param"
Using the `go17` branch and running the example code from the README, I get a panic:

[code]
Offending line from main.go:
[code]

[2016-09-02 21:19] ottob commented on #36
I get the same error with 1209a0b.

[2016-09-02 22:28] zenazn commented on #36
Good catch! I fixed the bug and added a regression test.

[2016-09-02 22:28] #36 closed

[2016-09-02 22:30] zenazn commented on #34
Would people find it onerous if package middleware and package pattern used `*http.Request` instead of `context.Context` as the base type? I'm looking to discourage people from retrieving this information in places far removed from HTTP request handling. (the underlying storage mechanism would remain unchanged)

[2016-09-03 05:21] elithrar commented on #34
@zenazn Makes sense to me.

[2016-09-03 05:33] desimone commented on #34
I agree. Makes sense to me. But, what are your concerns with using `context.Context` far removed from request handling? What scenarios are you thinking of?

[2016-09-03 17:21] moorereason commented on #34
@zenazn, I was actually thinking the same thing yesterday while playing with the `go17` branch.  I can't think of a reason why that would be a problem, but my uses of Goji are rather straight forward.  Conceptually, it makes more sense to me to pass the Request around instead of the Context. :+1:

[2016-09-04 08:17] ekanna commented on #24
I made a wrong comparison. If i compare with std lid it make sense.
[code]
Very close to std lib. This is one of the reason why i choose goji over libs like https://github.com/labstack/echo

Thanks

[2016-09-04 08:17] #24 closed

[2016-09-08 07:22] ekanna commented on #34
@zenazn eagerly waiting for go17 branch merge with master!

[2016-09-20 22:15] moorereason commented on #17
@elithrar, can you and @jdoklovic join forces to work on this and #18?  You guys posted these hours apart back in March.

My preference would be to have the logger and the RequestID in separate packages.

[2016-09-21 01:15] elithrar commented on #17
Sure. If we are breaking the API for Go 1.7 then we'll need to update the
middleware to suit.
On Tue, Sep 20, 2016 at 3:15 PM Cameron Moore <notifications@github.com>
wrote:

[2016-09-27 11:51] lotarbo opened #39 "Does goji.io slower then old goji?"
I run bench from https://github.com/theckman/go-http-routing-benchmark/tree/make_it_work
and it give me bad result, why performance lower?
go version go1.7.1 darwin/amd64
#GithubAPI Routes: 203
   Gin: 52464 Bytes
   Goji: 86088 Bytes
   Gojiv2: 144392 Bytes

#GPlusAPI Routes: 13
   Gin: 3856 Bytes
   Goji: 2912 Bytes
   Gojiv2: 7376 Bytes

#ParseAPI Routes: 26
   Gin: 6816 Bytes
   Goji: 5232 Byt

[2016-09-27 13:11] elithrar commented on #39
Is the performance actually manifesting in a requests per second
penalty/reduction?

On Tue, Sep 27, 2016 at 12:51 PM lotarbo <notifications@github.com> wrote:

[2016-09-27 14:43] lotarbo commented on #39
I dont know) I just see, that many people write smth like: fastest framework, fastest router and etc etc, look at our bench and more. And i just saw, why it looks like goji.io slower than old

[2016-09-27 20:59] zenazn commented on #39
Yup—this version of Goji is in fact slower than the old one (by my microbenchmarks, which I have intentionally not released, by about a factor of two, which amounts to a few hundred nanoseconds at worst). This comes from use of the standard `context` package (which necessarily allocates memory, and is not hyper-optimized for benchmarks) and a couple other major usability wins (e.g., there's no lon

[2016-09-27 20:59] #39 closed

[2016-10-15 10:03] dimonomid opened #41 "ResponseWriter does not implement http.Hijacker"
Is there any chance it will be implemented? I see some occurrences of Hijacker in the old goji, but not in the new one; so I failed to establish a WebSocket connection from the goji's endpoint.

[2016-10-15 10:29] dimonomid commented on #41
Well sorry, I realized it was because of my middleware which wrapped `ResponseWriter` so that it didn't implement `Hijacker`. Sorry for bothering.

[2016-10-15 10:29] #41 closed

[2016-10-18 03:14] nqv commented on #34
@zenazn do you have any timeline for merging go17 branch?

[2016-11-05 20:03] zenazn commented on #34
Alright, I've taken the plunge and merged the `go17` branch. Users of the old API are encouraged to switch to the `net-context` branch, which I also promise to maintain. I've rewritten the stability section of the README to reflect this change.

Please reach out to me if you have Opinions™.

[2016-11-05 20:03] #34 closed

[2016-12-04 05:38] sengkathir opened #44 "Problem in running goji "Hello World""
Hi,

I am trying to set up a new project. I am not able to run "hello world" program.

Initially,
`go build` exits with error
[code]

Upon installing `context` package, again `go build` exists with

[code]

$ go version
go version go1.7.3 darwin/amd64

goji version
[code]

Am I missing something?

Thanks!

[2016-12-05 08:23] ekanna commented on #44
Run below update command and try again
[code]

[2017-01-04 17:57] arduanov opened #45 "How to get all request parameters in handler?"
I try
[code]
but get error
[code]

there is another way?

[2017-01-04 18:07] #45 closed

[2017-01-24 19:34] jdoklovic opened #46 "Please tag/release the 1.7+ master branch"
We're using glide for dependency management and would like to have a semver to use in our glide.yaml.
Could you please tag master with the 1.7+ context changes with 2.0 or something?

[2017-02-04 23:19] zenazn commented on #46
Done! ✨

[2017-02-04 23:19] #46 closed

[2017-02-04 23:20] zenazn commented on #44
This issue has been idle for a few months now, so I'm closing it to keep everything tidy. If running `go get -u` didn't help, please feel free to re-open this ticket!

[2017-02-04 23:20] #44 closed

[2017-02-04 23:21] zenazn commented on #29
This issue has been idle for a few months now, so I'm closing it to keep everything tidy. Hopefully you were able to use the technique in #20 to good effect!

[2017-02-04 23:21] #29 closed

[2017-02-04 23:24] zenazn commented on #26
This issue has been idle for a few months now, so I'm closing it to keep everything tidy. Since you wrote in, I've made a few changes to the public API, which you'll hopefully find simpler and easier to use. But while I'm a big fan of the abstraction of middleware, I'm afraid we're going to have to agree to disagree with how to structure Goji.

[2017-02-04 23:24] #26 closed

[2017-02-04 23:26] zenazn commented on #17
This issue has been idle for quite a few months now, so I'm closing it to keep everything tidy. Since Goji has standardized on `net/http` interfaces, I'm delighted to say that this problem can be solved Mux-agnostically, and no longer needs to be done under the "Goji" umbrella.

[2017-02-04 23:26] #17 closed

[2017-02-04 23:27] zenazn commented on #18
This issue has been idle for quite a few months now, so I'm closing it to keep everything tidy. Since Goji has standardized on net/http interfaces, I'm delighted to say that this problem can be solved Mux-agnostically, and no longer needs to be done under the "Goji" umbrella.

[2017-02-04 23:27] #18 closed

[2017-02-04 23:30] zenazn commented on #25
This issue has been idle for a few months now, so I'm closing it to keep everything tidy. It looks like you were able to solve your problem using type assertions in middleware, but if you're still in the market for solutions this might be the sort of problem that is best solved using custom `Pattern` types.

[2017-02-04 23:30] #25 closed

[2017-02-04 23:34] zenazn commented on #35
Sorry—this issue seems to have fallen through the cracks.

I haven't found a great way to do this besides adding a middleware to every mux and submux "along the chain" that grabs patterns out of the local context and appends them to a list. I'll be the first to admit this is ugly—it's just one of those things that turned out to be less easy than I thought it would be when I first designed the APIs

[2017-03-14 10:15] avarabyeu opened #47 "middleware.Handler(rq.Context()) returns nil"
Trying to handle 404 error as described here in #20, but find out that 			middleware.Handler(rq.Context()) returns nil even if route is found.
Complete example:

[code]

[2017-03-14 14:08] avarabyeu commented on #47
Used old version. Sorry

[2017-03-14 14:08] #47 closed

[2017-03-16 18:25] kovirolik opened #48 "Can't install goji"
`kovirolik@castle ~ $ go get goji.io`
`
package context: unrecognized import path "context"
`

[2017-03-16 18:30] kovirolik commented on #48
Go version
`kovirolik@castle ~ $ go version
go version go1.5.2 linux/amd64
kovirolik@castle ~ $
`

[2017-03-16 18:35] renstrom commented on #48
You need at least Go 1.7, because that's when `golang.org/x/net/context` got merged into the standard library. https://golang.org/doc/go1.7#context

[2017-03-16 18:43] kovirolik commented on #48
Thank you , @renstrom !

[2017-03-16 18:43] #48 closed

[2017-03-17 11:22] tanis2000 opened #49 "Missing Object.assing method"
I have a piece of JS code that does the following:

[code]

where `state` is an empty object, and even though it runs fine in the browser when bundled, it fails running that same bundle in goji with the following error:

[code]

[2017-03-17 11:24] #49 closed

[2017-03-17 11:24] tanis2000 commented on #49
Wrong repo, damn! :-P

[2017-03-21 17:47] troylelandshields commented on #35
Yeah your solution is basically what we ended up implementing. Mostly wanted to make sure there wasn't an obviously easy way that I was missing. Appreciate the response, thanks.

[2017-03-21 17:47] #35 closed

[2017-03-22 09:20] mikey0119 opened #50 "go1.7.4 and go1.8: I try to unit test, but panic on pat.Param"
[code]

sample code[main.go]
[code]

test code[main_test.go]
[code]

result
[code]

error is the same.
`res, err := http.Get(s.URL + "/hello/test")`

Thanks!!

[2017-03-24 16:06] nullstyle opened #51 "Cannot install using glide or gb"
Our CI suite broke today because of an issue that appears to be related to goji.io and it's import configuration.

From glide: https://travis-ci.org/stellar/go/jobs/214654596
[code]

From gb: https://travis-ci.org/stellar/horizon/jobs/214687970
[code]

Please advise.  Thanks!

[2017-03-24 16:33] zenazn commented on #51
Oops sorry! That was me renewing Goji's SSL cert and screwing something up in the GCE webface. Won't happen again (for another year)! (Although hopefully by then Google will be able to auto-issue certificates like Amazon)

[2017-03-24 16:34] zenazn commented on #51
(At least I think that's what happened. If you're still having trouble there might be something else happening)

[2017-03-24 17:00] nullstyle commented on #51
Hmm, still getting the same issue:  https://travis-ci.org/stellar/horizon/jobs/214687970#L571

[2017-03-24 17:30] zenazn commented on #51
@nullstyle alright—give that a shot?

[2017-03-24 17:31] zenazn commented on #51
(I shredded the private key the cert was issued to, so had to reissue 😧)

[2017-03-24 17:46] nullstyle commented on #51
Bingo!  Thanks so much for your quick work and fix.  I appreciate it :)

[2017-03-24 17:46] #51 closed

[2017-03-25 18:47] zenazn commented on #50
You'll need to specifically send a request through a Goji `Mux` in order to run Goji's routing logic. If Goji's routing logic doesn't run, it can't match its patterns against the input URL, and can't extract bound variables from the pattern (via e.g., `pat.Param`).

Try writing the following:

[code]

And in your test, write `s := httptest.NewServer(mux())`

[2017-08-29 13:03] lkmadushan opened #52 "go get issue"
[code]

this happened when i try to download goji package

[2017-08-29 13:10] #52 closed

[2017-09-27 23:09] Marahin commented on #52
@lkmadushan why exactly did you close the issue? I still am receiving it.

[2017-09-28 09:04] Marahin opened #53 "dispatch.go:6:2: use of internal package not allowed"
During `go get` I get an error message:
`/go/src/github.com/goji/goji/dispatch.go:6:2: use of internal package not allowed` - which exits `go get` with error code, however the source code is still downloaded & usable in my programs.

This however makes creating Makefile dependency-fulfilling rules impossible, along with creating CI scripts that would require all the commands to return no-error cod

[2017-09-29 19:22] zenazn commented on #53
It looks like you've run `go get github.com/goji/goji`, but per https://goji.io Goji actually has a vanity URL: `go get goji.io`. Give that a shot!

[2017-09-29 19:22] zenazn commented on #52
In case others stumble upon this issue, it's likely because you're running `go get github.com/goji/goji`. The correct import path for Goji is `go get goji.io`.

[2017-10-27 10:35] manuks opened #54 "Rate Limit"
Is there a rate limit middle ware available?

[2017-11-03 18:44] zenazn commented on #54
I'm not sure there's a standard one in the Goji community, but Goji uses standard library types, and should therefore be compatible with most rate limiting packages you might find elsewhere on the internet

[2017-11-03 18:44] #54 closed

[2017-11-03 18:44] #53 closed

[2017-11-03 18:44] #50 closed

[2017-11-09 13:39] ego008 commented on #16
Full example https://github.com/ego008/goyoubbs

[2018-07-20 10:05] ejamesc opened #55 "Handling application panics and serving a 500 error page"
Hi there,

What's the recommended way for handling application panics, in order to serve a 500 error page?

[2018-07-20 19:07] zenazn commented on #55
I believe Go's `net/http` already has something in this space, but if you want more control you can write a `panic`-recovering middleware. Here's a really minimal example:

[code]

[2018-07-22 10:29] ejamesc commented on #55
Thanks so much!

[2018-08-17 15:24] plirr opened #56 "Could pat.Param not panic when it the interface is nil"
It's not easily catchable (or at least I haven't read how). Easier was editing Param to return "" if the context interface was nil. I can submit a push request, but haven't ever written a test, so will have to figure that out first.

[2018-08-17 15:25] plirr commented on #56
[code]

[2018-11-08 16:51] ekle opened #58 "go modules support ?"
the new go modules allow to fetch versions with go get.
but this does not seem to work:
[code]

[2018-11-08 19:32] elithrar commented on #58
You can only fetch a Go package by its version if it explicitly defines itself as a valid Go Module - through the presence of a valid `go.mod` file.

Goji isn’t a Module, and thus you can’t use `go get` like that.

[2018-11-11 19:52] zenazn commented on #58
Good news! Just added module support. Let me know if you’re still having trouble with this

[2018-11-11 20:16] zenazn commented on #56
If you’d like to, you can `recover()` the panic, or write a small helper function that does that. But I’d prefer to keep the current API, because I believe that it’s better for folks to understand what parameters are and aren’t set in each of their routes, and that Goji help folks out when things aren’t as they expect by erroring loudly instead of silently returning an empty value.

[2018-11-11 20:16] #56 closed

[2018-11-12 08:35] ekle commented on #58
hi,
it still does not work. But i think that is because of the git-tags.
go modules requires `vX.Y.Z` tags. it looks like it does not work with `vX.Y` tags.

[code]

[2018-11-13 16:50] zenazn commented on #58
Alright—I’ve gone and added three-part semvar tags. Let me know if that helps!

[2018-11-13 16:53] #58 closed

[2018-12-14 16:33] jaxi opened #59 "[Proposal] consider making `newWithMethods` accessible function"
According to https://github.com/goji/goji/blob/aab2e9b11766fa8810476ef36627c004ddfbaa5a/pat/methods.go `pat` at the moment supports:

* some of the methods in [RFC 2616](https://ietf.org/rfc/rfc2616)
* plus the patch method from [RFC 5789](https://tools.ietf.org/html/rfc5789)

In some use cases you might want to use methods other than these (e.g. lock/unlock methods from [RFC 2518](https://ietf.or

[2018-12-15 21:16] zenazn commented on #59
Yeah—that’s a good idea! Feel free to send me a PR (I think we’ll also want to add some documentation in addition to the visibility change); alternatively if you prefer I can write this up in the coming days

[2018-12-15 21:43] jaxi commented on #59
Cheers @zenazn. PR created in https://github.com/goji/goji/pull/60. Let me know what you think ;)

[2018-12-15 22:18] zenazn commented on #59
Thanks for contributing this change!

[2018-12-15 22:18] #59 closed

[2019-01-07 13:16] colinmarc opened #61 "git tags suggest v2, but go.mod disagrees"
Carl! My favorite Carl!

I set out to use goji in a project recently, and, seeing that there's a v2.0.1, added `require goji.io/v2 v2.0.1` to my go.mod. However, I encountered two problems with this:

 - The go.mod at the `v2.0.1` git tag just has `module goji.io`, and
 - The vanity URL https://goji.io/v2 404s.

It seems like you're still treating the project as effectively v1, but go is expecting

[2019-01-08 06:44] zenazn commented on #61
Colin!

TIL, and wow this is a pain in the ass! I'll attempt to follow the directions at https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher to cut a `v3.0.0` (because apparently that's what I'm supposed to do), but it may take a little while because I'll need to re-remember how to deploy `goji.io`

[2019-01-08 07:17] zenazn commented on #61
Wow this is a *really* big pain in the ass. I'm really starting to regret following semver 😧

[2019-01-27 02:06] zenazn commented on #61
- I've rolled back `go.mod` on `master`. This should hopefully allow you to use `+incompatible` revs for the time being
- I've tried for several hours to make a "proper" v3 module release but have been unsuccessful 😢. I've left things around if you feel like debugging, but otherwise I'll take this up some other time

[2019-03-20 03:00] airylinus commented on #56
@zenazn  Maybe return an error will be better than panic.

fyi :  [Golang wiki: PanicAndRecover](https://github.com/golang/go/wiki/PanicAndRecover)

[2019-03-22 00:49] zenazn commented on #56
Yup—I'm aware of that :)

The reason I originally chose to `panic` was because I viewed this case as a "compile time" error of sorts—I can tell from the text of your program if your program will `panic` in this way. It's clear to me now that not everyone feels this way, but it's certainly too late to change this API (which is certainly not to say that I *would* make a different decision today—I'd

[2019-11-27 16:20] brandondube opened #64 "Nicer errors on requests?"
Suppose you have an endpoint `pat.Get("/foo")` and the user/client does an `http.Post(".../foo")`.  They will get a 404 not found, but they "really" should get a 400/bad method.  Is there a way to make Goji produce "dummy" routes that respond with bad method for every HTTP verb that isn't implemented for a particular endpoint on a mux?

[2019-12-09 21:20] zenazn commented on #64
Yeah, that's definitely an outcome some folks may prefer. It's not a core feature of Goji today, and it's hard to implement on top of the current `Pattern` interface for the general case.

Funnily enough, the older version of Goji (`zenazn/goji`) supports something like this for OPTIONS calls. Might be worth a look if this feature is very important to you!

[2020-01-17 14:15] kudrykv commented on #61
"Proper" go.mod file should have these contents:
[code]
There, v3 is the v3 major version.

I was trying to figure that out for myself. It took me literally hours to make it work.

---
EDIT:

Oh, the important information about how to get the dependency:
To get it, you'll need to write this:
[code]
Notice the major version in the URL! Even the dir doesn't actually exist.

[2020-02-07 23:07] brandondube opened #65 "Are patterns broken inside middleware?"
I have a route is bound to a mux as `pat.Get("/axis/:axis/lock")` -> `http.HandlerFunc`

A middleware `func(http.Handler) http.Handler` is used (`mux.Use`).  Inside the middleware, I call `pat.Param("axis")`, and it panics.

Why?  If I `fmt.Println(r.URL.String())` inside the path, it looks like `../axis/Group7/lock`, Group7 should map exactly to the parameter as expected.  But in the outermost, a

[2020-02-10 16:22] brandondube commented on #65
Here's a MWE that works fine, so it must be an error in my real code :\

[code]

[2020-02-10 16:22] #65 closed, assigned to nobody

[2020-03-15 05:23] bokunodev opened #66 "how to HTTPS/TLS Web Server with goji ?"
godoc.org/goji.io didn't mention anything about SSL/TLS in goji
am i miss something ?

[2020-03-15 09:43] elithrar commented on #66
Goji doesn’t prevent you from using TLS: Go’s built-in TLS server works
with Goji -
https://golang.org/pkg/net/http/#ListenAndServeTLS

Passing your *goji.Mux to server.Handler or to ListenAndServeTLS will work.

[2020-03-19 05:42] #66 closed, assigned to nobody

[2020-08-17 02:06] #16 closed

[2021-05-01 02:39] catatsuy opened #67 "Is there a way to pass the regexp that was available in the old goji?"
I have defined the following endpoint with https://github.com/zenazn/goji

[code]

Can I get the same behavior with the new goji?

[2021-05-05 00:45] zenazn commented on #67
Yes! But it's not included with the base library any more. Instead, the new version of Goji makes it easy to support custom `Pattern`s.

In order to get this functionality, you'll have to write your own implementation of https://pkg.go.dev/goji.io?utm_source=godoc#Pattern. A basic implementation would:
- Get the path from the request context using https://pkg.go.dev/goji.io@v2.0.2+incompatible/pat

[2021-05-09 09:01] catatsuy commented on #67
@zenazn Thank you! I tried it and I have implemented the following code. Is this the right way to use it?

[code]